<div id="<%= dom_id job %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= job.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salary range:</strong>
    <%= job.salary_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= job.contact %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= job.company_id %>
  </p>

</div>
