<div class="bg-gray-200" style="height:100vh">
  <div class="flex flex-col items-center pt-10">

    <div class="bg-white min-w-[90%]">
      <div class="p-8">
        <div class="flex justify-between">
          <div class="pr-20">
        <h1 class="text-3xl text-black font-semibold pb-3 tracking-tighter"><%= @job.title %></h1>
        <h1 class="text-2xl text-gray-800 font-medium tracking-tighter"><%= @job.company.name %></h1>
          </div>
          <div class="border p-10 flex flex-col items-center border-black max-w-72"  style="box-shadow: -10px 10px 0px 4px rgb(0 0 0 )">
            <img height="100" width="100" src="<%= @job.company.logo_url %>" />
            <h3 class="pt-12 text-l tracking-tighter font-medium"><%= @job.company.name %></h3>
            <h3 class="pt-1 tracking-tighter"><%= @job.company.city %>, <%= @job.company.state %></h3>
            <a class="pt-1 underline tracking-tight" style="color: #0000FF" href="<%= @job.company.website_url %>">website</a>
          </div>
        </div>
        <div class="pt-8">
          hi
        </div>
      </div>
    </div>

  </div>
</div>