<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hq:</strong>
    <%= company.hq %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Logo url:</strong>
    <%= company.logo_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website url:</strong>
    <%= company.website_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= company.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company.description %>
  </p>

</div>
