<div class="flex flex-col">
  <div class="flex flex-col pt-16 items-center min-w-max bg-orange-50 pb-16">
    <h1 class="text-8xl font-title text-gray-900 font-medium t-medium text-center uppercase">Robocruiter</h1>
    <h2 class="text-3xl text-gray-800 font-semibold tracking-tight pt-4">The Easiest Way to Land Your Next Automation Job.</h2>
    <div class="pt-12">
      <button class="text-2xl font-semibold bg-red-500 text-white p-3 rounded">Post a Job</button>
    </div>
  </div>
  <% if @jobs %>
    <div class="flex flex-col pt-16 gap-4 min-w-[64rem]">
      <% @jobs.each do |j| %>
        <a href=<%= job_path(j) %>>
          <div class="flex justify-between items-center bg-gray-100 hover:bg-gray-200 p-4">
            <div class="flex items-center gap-7">
              <div><img src="https://we-work-remotely.imgix.net/logos/0084/0935/logo.gif?ixlib=rails-4.0.0&w=50&h=50&dpr=2&fit=fill&auto=compress"></div>
              <div class="">
                <h3 class="font-semibold"><%= j.title %></h3>
                <h3 class="text-gray-800"><%= j.company.name %></h3>
                <h3 class="text-gray-800"><%= j.employment_type %></h3>
              </div>
            </div>
            <div>
              <%= j.created_at.strftime("%b %d") %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  <% end %>
</div>