<div class="flex flex-col">
  <div class="flex flex-col pt-24 items-center min-w-max bg-blue-50 pb-40">
    <h1 class="text-9xl font-title text-black font-medium t-medium tracking-tight text-center uppercase">Robocruiter</h1>
    <h2 class="text-2xl text-gray-800 font-medium tracking-tighter pt-4">The Easiest Way to Land Your Next Automation Job.</h2>
    <div class="pt-12">
      <button class="text-2xl font-semibold bg-red-500 text-white py-3 px-5" style="box-shadow: -10px 10px 0px 4px rgb(0 0 0 )">Post a Job</button>
    </div>
  </div>
  <% if @jobs %>
    <div id="jobs" class="flex flex-col pt-8 items-center bg-gray-200 pb-80">
      <div class="min-w-[64rem] pb-8">
        <form class=" border-gray-800 ">
          <input class=" border-gray-800" type="search" placeholder="filter by location, work type, etc." size="32">
        </form>
      </div>
      <div class="flex flex-col items-center bg-white " style="box-shadow: -10px 10px 0px 4px rgb(0 0 0 )">
        <% @jobs.each do |j| %>
          <a href=<%= job_path(j) %>>
            <div class="flex justify-between min-w-[64rem] items-center  hover:bg-gray-100  p-4">
              <div class="flex items-center gap-7">
                <% if not j.company.logo_url.blank? %>
                  <% #TODO: don't hardcode to 100 to 100 px %>
                  <img width="100px" height="100px" src="<%= j.company.logo_url %>">
                <% else %>
                  <% #TODO: hash on something to use different colors instead of always blue %>
                  <div class="w-[100px] h-[100px] flex justify-center items-center text-4xl font-bold text-gray-800 bg-blue-500">
                    <% if j.company.name.split(" ").length >= 2 %>
                      <div><%= j.company.name.split(" ")[0][0] %><%= j.company.name.split(" ")[1][0] %></div>
                    <% else %>
                      <div><%= j.company.name.split(" ")[0][0] %></div>
                    <% end %>
                  </div>
                <% end %>
                <div class="">
                  <h3 class="font-semibold pb-3"><%= j.title %></h3>
                  <h3 class="text-gray-800"><%= j.company.name %></h3>
                  <% if j.hourly? %>
                    <h3 class="text-gray-800">Hourly</h3>
                  <% else %>
                    <h3 class="text-gray-800">Full Time</h3>
                  <% end %>
                </div>
              </div>
              <div>
                <%= j.created_at.strftime("%b %d") %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
  <% end %>
  <div class="pt-12">
    <%== pagy_nav(@pagy) %>
  </div>
  </div>
</div>